$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

$base-color:  #57cec8;

@font-face {
  font-family: yofont;
  src: url("/webapp1502/images/iconfonts/iconfont.woff") format("woff"), url("/webapp1502/images/iconfonts/iconfont.ttf") format("truetype");
}


@font-face {
  font-family: yofont;
  src: url("/webapp1502/images/iconfonts/footer.woff") format("woff"), url("/webapp1502/images/iconfonts/footer.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/webapp1502/images/iconfonts/indexContent.woff") format("woff"), url("/webapp1502/images/iconfonts/indexContent.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/webapp1502/images/iconfonts/phone.woff") format("woff"), url("/webapp1502/images/iconfonts/phone.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/webapp1502/images/iconfonts/content.woff") format("woff"), url("/webapp1502/images/iconfonts/content.ttf") format("truetype");
}









